{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "import", "react", "jsx-a11y", "jest"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "arrow-parens": "off",
    "import/no-unresolved": "error",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-await-in-loop": "off",
    "no-console": "off",
    "no-multi-assign": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-restricted-syntax": "off",
    "no-use-before-define": "off",
    "prettier/prettier": ["error", { "singleQuote": true, "printWidth": 120, "trailingComma": "es5" }],
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": "off",
    "react/no-did-update-set-state": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prefer-stateless-function": "off",
    "react/static-property-placement": "off",
    "react/sort-comp": [
      "error",
      {
        "order": ["type-annotations", "static-methods", "lifecycle", "everything-else", "render"]
      }
    ]
  }
}
