html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* Disables annoying outlining of containers on focus */
*:focus {
  outline: none;
}

.Router {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Route {
  flex: 1;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

/* Fix drawer overlap with title bar */
.MuiBackdrop-root,
.MuiDrawer-root,
.MuiDrawer-paper {
  top: 30px !important;
}
