html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

/* Disables annoying outlining of containers on focus */
*:focus {
  outline: none;
}

/* Fix drawer overlap with title bar */
.MuiBackdrop-root,
.MuiDrawer-root,
.MuiDrawer-paper {
  top: 30px !important;
}
